<div class="container">
    <h1 mat-dialog-title>Comparte una tarea</h1>
    <div mat-dialog-content>
        <h3>Seleccione una tarea</h3>
        <mat-form-field>
            <mat-label>Busque la tarea a compartir</mat-label>
            <input type="text" matInput [formControl]="searchInput" (input)="searchTask()" [matAutocomplete]="auto" />
            <mat-error>Seleccione una opcion</mat-error>
            <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete"
                (optionSelected)="onSelectedOption( $event )">
                <mat-option *ngFor="let task of listFiltered()" [value]="task">
                    {{ task.title }}
                </mat-option>


                <mat-option *ngIf="listFiltered().length === 0 && searchInput.value && searchInput.value.length > 0"
                    value="">
                    No se encontró nada con el término {{ searchInput.value }}
                </mat-option>
            </mat-autocomplete>
        </mat-form-field>
        <br>
        <mat-label>Correo del usuario con el que deseas compartir la tarea</mat-label>
        <mat-form-field class="example-full-width">
            <mat-label>Correo</mat-label>
            <input matInput type="email" [formControl]="email">
            <mat-error>Correo no valido</mat-error>
        </mat-form-field>
    </div>
    <div mat-dialog-actions>
        <div class="spacer"></div>
        <button mat-button color="secondary" (click)="share()">Compartir</button>
    </div>
</div>