<div class="container">
    <div class="row">
        <div class="col-8"></div>
        <div class="col-4">
            <button mat-flat-button color="primary" (click)="openDialog()">Compartir tarea</button>
        </div>
    </div>
    <ng-template #noShared>
        <h1>
            No tienes tareas compartidas
        </h1>
    </ng-template>

    <div class="row" *ngIf="listShared().length > 0; else noShared">
        <h1>Tus tareas compartidas</h1>

        @for (item of listShared(); track $index) {
        <div>
            <mat-card appearance="outlined">
                <mat-card-header>
                    <mat-card-title> {{ item.task.title }} </mat-card-title>
                    <mat-card-subtitle> {{item.task.description}} </mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                    <p> <strong>Estado:</strong> {{ item.task.state }} - <strong>Prioridad:</strong> {{
                        item.task.prioridad }} </p>
                    <p> <strong>Fecha inicio:</strong> {{ item.task.fecha_inicio| date: 'dd/MM/yyyy' }} </p>
                    @if (item.task.fecha_fin)
                    {
                    <p> <strong>Fecha fin:</strong> {{ item.task.fecha_fin| date: 'dd/MM/yyyy' }} </p>
                    }
                    <p> <strong>Creador:</strong> {{ item.creator.name|titlecase }} - {{item.creator.email}}</p>
                </mat-card-content>
            </mat-card>
        </div>
        }
    </div>
</div>