<h1>Listado de tareas</h1>
<div class="d-flex justify-content-around">
    <button mat-flat-button (click)="sortBy('prioridad')" color="accent">Sort by priority</button>
    <button mat-flat-button (click)="sortBy('fecha_fin')" color="accent">Sort by date</button>
    <button mat-flat-button (click)="sortBy('state')" color="accent">Sort by state</button>
    <button mat-flat-button color="primary">New Task</button>
</div>
<span class="spacer"></span>
<mat-divider class="m-3"></mat-divider>


<div class="row" [ngClass]="{'animar': animacionOrdenacion()}">
    <mat-card *ngFor="let item of tasks;" class="col-md-4 mb-4" (click)="completeTask(item)">
        <mat-card-header>
            <mat-card-title>{{item.title}}</mat-card-title>
            <mat-card-subtitle>
                <strong>Estado:</strong> {{item.state}} - <strong>Prioridad:</strong> {{item.prioridad}}
            </mat-card-subtitle>
        </mat-card-header>
        <mat-divider class="m-2"></mat-divider>
        <mat-card-content>
            <p>{{item.description}}</p>
            <p><strong>Fecha inicio:</strong> {{item.fecha_inicio | date}}</p>
            <p><strong>Fecha fin:</strong> {{item.fecha_fin | date}}</p>
        </mat-card-content>
        <mat-divider class="m-2"></mat-divider>
        <mat-card-footer>
            <div class="d-flex justify-content-around m-2">
                <button mat-flat-button color="primary">Edit</button>
                <button mat-flat-button color="warn">Delete</button>
            </div>
        </mat-card-footer>
    </mat-card>
</div>