.completed {
  text-decoration: line-through;
  color: #ccc;
  opacity: 0.9;
  border: 1px solid green;
}

.pendiente {
  border: 2px solid yellow;
}

.iniciar {
  border: 2px solid red;
}

.custom-card {
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
  transition: transform 0.3s, box-shadow 0.3s ease-in-out;
}

.custom-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 12px 20px rgba(0, 0, 0, 0.25);
}
